# ======================
# Java & IDE Ignore
# ======================

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# ======================
# Maven / Gradle
# ======================
target/
build/
out/

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml

# ======================
# Eclipse
# ======================
.project
.classpath
.settings/
bin/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS-specific
# ======================
.DS_Store
Thumbs.db

# 환경 설정 변수 파일 제외
src/main/resources/application.properties
src\main\resources\s3.properties