<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 카페 MyBatis 매퍼 XML (담당 : 나규태, 손윤찬) -->
<mapper namespace="com.cafein.cafe.mapper.CafeMapper">
	<!-- Cafe 테이블에서 회원 조회 -->
	<select id="findCafeById" resultType="com.cafein.cafe.CafeDTO" >
		SELECT cafeId, name, content, logoUrl, createdDate
		FROM Cafe
		WHERE cafeId = ${cafeId}
	</select>
	<!-- Cafe.content 읽기 -->
  <select id="findIntro" parameterType="long" resultType="string">
    SELECT content
    FROM Cafe
    WHERE cafeId = #{cafeId}
  </select>

  <!-- Cafe.content 업데이트 (길이 3000자 제한) -->
  <update id="updateIntro" parameterType="map">
    UPDATE Cafe
       SET content = #{content}
     WHERE cafeId = #{cafeId}
  </update>
 </mapper> 