<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafein.usercafe.mapper.UserCafeMapper">
	<!-- userCafeId로 회원카페 조회 -->
	<select id="findUserCafeById" resultType="com.cafein.usercafe.UserCafeDTO" >
		SELECT userCafeId, userId, cafeId, role, joinDate
		FROM UserCafe
		WHERE userCafeId = #{userCafeId}
	</select>
	
	<!-- userId와 cafeId로 회원카페 조회 -->
	<select id="findUserCafeByUserAndCafe" resultType="com.cafein.usercafe.UserCafeDTO" >
		SELECT userCafeId, userId, cafeId, role, joinDate
		FROM UserCafe
		WHERE userId = #{userId} AND cafeId = #{cafeId}
	</select>
	
	<!-- 회원카페 생성 -->
     <insert id="createUserCafe" parameterType="map" useGeneratedKeys="true" keyProperty="userCafeId">
        INSERT INTO UserCafe (userId, cafeId)
        VALUES (#{userId}, #{cafeId})
    </insert>
 </mapper> 